:host{
  width: calc(100% - 10px);
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 700px;
  margin: 0 auto;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    input{
      width: 300px;
      border-radius: 10px;
      cursor: pointer;
      padding: 10px;
      font-size: 16px;
    }
  }
  div:nth-child(5) {
    grid-column: 1 / -1;
    align-items: center;
  }

  .disabled{
      opacity: 0.5 ;
      pointer-events: none;
      cursor: none;
     }
  button {
       grid-column: 1 / -1;
       justify-self: center;
       padding: 10px 30px;
       border: none;
       border-radius: 8px;
       background-color: green;
       color: white;
       cursor: pointer;
     }
     p{
      color: red;
       padding: 4px;
     }

}
